.block {
	width: 800px;
	height: 180px;
	font-family: 'Source Sans Pro', sans-serif;
}

.block.age .background {
	fill: blue;
}

text.description {
	font-size: 20px;
	text-anchor: middle;
}

section.filters {
	float: left;
	padding-right: 20px;
}
section.filters label {
	display: block;
	width: 100px;
}

section.filters select {
	max-width: 180px;
}