.block {
	width: 800px;
	height: 180px;
	font-family: 'Source Sans Pro', sans-serif;
}

.block.age .background {
	fill: blue;
}

text.description {
	font-size: 20px;
	text-anchor: middle;
}

text.sub-description {
	font-size: 14px;
	text-anchor: middle;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	display: block;
	width: 800px;
	background: #262626;
	color: white;
	text-align: center;
	padding: 20px;
	margin: 0;
	box-sizing: border-box;
}

section.filters {
	float: left;
	padding-right: 20px;
}
section.filters label {
	display: block;
	width: 100px;
}

section.filters select {
	max-width: 180px;
}

.arc:first-of-type {
	fill: #71652b;
}
.arc:last-of-type {
	fill: #bd5830;
}

.pop-pill > .arc:first-of-type {
	fill: #5D5124;
}
.pop-pill > .arc:last-of-type {
	fill: none;
}

.filter-pill > .arc:first-of-type {
	fill: #5D5124;
}
.filter-pill > .arc:last-of-type {
	fill: none;
}
